certfile: example.com.pem
dnsnames:
- example.com
- '*.example.com'
muststaple: false
acmedirectory: https://acme-staging-v02.api.letsencrypt.org/directory
acmeaccountfile: acmeKey.pem
regsiteracme: true
mode: haproxy
haproxysocket: ""
runintervalminutes: 0
renewaldue: 14
